@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$c-dark-blue: #005687;
$c-mid-blue: #0468B1;
$c-mid-blue-semi: rgba(4,104,177,.75);
$c-light-blue: #32BEE1;

$c-dark-red: #A51E41;
$c-mid-red: #FA1C26;
$c-light-red: #F03C8C;

$c-dark-green: #418246;
$c-mid-green: #61B233;
$c-light-green: #B4DC28;

$c-dark-yellow: #FA7814;
$c-mid-yellow: #FFC10E;
$c-light-yellow: #FFF32A;

$c-dark-grey: #000000;
$c-mid-grey: #646464;
$c-light-grey: #969696;
$c-light-2: #E5E5E5;
$c-light-3: #F3F3F3;


$t-xxsmall: 8px;
$t-xsmall: 10px;
$t-small: 12px;
$t-mid-small: 14px;
$t-main: 16px;
$t-mid: 20px;
$t-large: 24px;
$t-xlarge: 36px;
$t-xxlarge: 60px;
$t-xxxlarge: 90px;


* {
	padding: 0;
	margin: 0;
}
.hide {
	display: none !important;
}
html, body {
	height: 100%;
}
body {
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
	font-size: $t-main;
	line-height: 1.35em;

	header {
		flex: 0 1 0;
		display: block;
		width: 100%;
		
		#languages {
			height: 30px;
			background-color: $c-dark-blue;
		}

		a {
			line-height: 26px;
			margin: 0 30px;
			float: right;
		}
		
		#logo {
			position: absolute;
			top: 30px;
			left: 0;
			
			img {
				height: 125px;
				margin-bottom: 30px;
			}
			h1 {
				margin: 0 0 5px 105px;
				line-height: 1.2em;
				word-spacing: 100vw;
				color: $c-dark-blue;
			}
			h2 {
				margin: 0 0 0 105px;
				line-height: 1.3em;
				word-spacing: 100vw;
				color: $c-mid-blue;
				font-weight: normal;
			}
		}
	}
	.cartouche {
		display: flex;
		position: absolute;
		bottom: 0;
		min-height: 30px;
		width: 100%;
		padding: 15px;
		border: 1px dotted $c-light-grey;
		box-sizing: border-box;
		background-color: #FFF;

		/*#find-tag {
			position: absolute;
			top: 60px;
			left: 30px;
		}*/
	}


	div.container {
		display: flex;
		width: 100%;
		height: 100%;

		.left-col {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
			position: relative;

			svg {
				margin: auto;

				text {
					font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
					font-size: $t-small;
					text-anchor: middle;
					text-transform: capitalize;
					pointer-events: none;
				}
				text.group-label {
					font-size: $t-mid-small;
					/*font-weight: bold;*/
					fill: $c-mid-grey;
				}
				.node:not(.node--root) {
					cursor: pointer;

					.highlight {
						stroke: $c-dark-yellow;
						stroke-width: 2;
					}
				}
				.node:not(.node--root):not(.node--leaf):hover,
				.node:not(.node--root):not(.node--leaf).hover {
					circle:not(.highlight) {
						stroke: $c-light-grey;
						stroke-dasharray: 1px 2px;
					}
				}
				.node--root {
					fill: #FFF;
					fill-opacity: .75;
				}
				.node--leaf {
					circle {
						transition: opacity .25s;

						&.dimmed {
							opacity: .3;
						}
					}
					}
				circle.connected {
					fill: green !important;
				}
			}
			#get-data {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
			}
		}
		.right-col {
			flex: 0 1 0;
			background-color: #005687;
			transition: flex .5s;
			color: #FFF;
			overflow: auto;

			button.expand-filters {
				position: fixed;
				top: 30px;
				right: 0;

				&:not(.close) {
					pointer-events: none;
				}

				.line {
					background-color: #FFF;
				}
			}
			
			h1 {
				margin-bottom: 30px;
				color: $c-mid-yellow;
				text-transform: capitalize;
				text-decoration: underline;
				margin: 2em;
				line-height: 1.3em;
			}
			svg {
				.timeseries {
					fill: none;
					stroke: $c-light-blue;
				}
			}
			article {
				margin: 4em 0;

				.inner {
					display: grid;
					grid-column-gap: 2em;
					grid-template-columns: 4fr 6fr;
					padding: 0 4em;

					hgroup {
						flex: 1 1 0;

						h1 {
							text-decoration: none;
							margin: 0;
							
							a {
								font-size: $t-large;
								line-height: 1.2em;
								color: #FFF;
								text-decoration: none;
							}
						}
						p {
							color: $c-light-blue;
							margin-top: 5px;
						}
						small {
							color: $c-light-blue;
						}
						.tags {
							margin: 15px 0;

							.tag {
								display: inline-block;
								margin: 2.5px;
								font-size: $t-small;
								white-space: nowrap;
								text-transform: capitalize;
								padding: 0 5px;
								border: 1px solid #FFF;
								border-radius: 5px;
							}
						}
					}
					.body {
						flex: 1 1 0;
						/*min-width: 300px;*/

						img {
							max-width: 300px;
							margin: 0 15px 15px 0;
						}
					}
				}
			}
		}
	}
}
form {
	width: 100%;
	max-height: 0;
/*	padding: 15px 7.5px;*/
	display: flex;
	flex-wrap: wrap;
	background: repeating-linear-gradient(
		45deg, 
		transparent, 
		transparent 3px, rgba(150, 150, 150, 0.1) 3px, 
		rgba(150, 150, 150, 0.1) 6px
	);
	box-sizing: border-box;
	transition: max-height .25s ease-out;
	overflow: hidden;

	section {
		flex: 1 1;
		padding: 15px 15px 0 15px;

		&:nth-child(even) {
			padding-left: 0;
		}

		.filter {
			position: relative;
			width: 100%;
			height: 45px;
			background-color: #FFF;
			margin-bottom: 15px;
			border-bottom: 1px solid $c-light-grey;

			input[type=text] {
				position: relative;
				width: 100%;
				height: 30px;
				padding: 0 15px;
				margin-top: 15px;
				border: none;
				outline: none;
				background-color: transparent;
				font-size: $t-main;
				color: $c-dark-blue;
			}
			label {
				position: absolute;
				left: 15px;
				font-size: $t-small;
				line-height: 1.5em;
				color: $c-light-grey;
				transform: translateY(15px);
				transition: transform .25s, font-size .25s;
				pointer-events: none;
			}
			input[type=text]:focus + label,
			input[type=text].has-value + label {
				font-size: $t-xsmall;
				line-height: 1.5em;
				transform: translateY(2.5px);
			}
			input[type=text]:focus ~ button,
			input[type=text].has-value ~ button {
				display: block;
			}

			.dropdown {
				position: absolute;
				width: 100%;
				max-height: 0;
				left: 0;
				top: 100%;
				background-color: #FFF;
				box-shadow: 0px 10px 10px rgba(0,0,0,.1);
				overflow: auto;
				z-index: 1000000;
				transition: max-height 0.25s ease-out;

				&.dropup {
					top: auto;
					bottom: 100%;
					box-shadow: 0px -10px 10px rgba(0,0,0,.1);
				}

				menu {
					width: 100%;

					li {
						display: inline-block;
						width: 100%;
						margin: 0;
						list-style: none;

						input[type=checkbox] {
							display: none;
						}
						label {
							display: flex;
							align-items: center;
							position: static;
							padding: 5px 20px 5px 15px;
							cursor: pointer;
							font-size: $t-mid-small;
							line-height: 1.5em;
							color: $c-dark-grey;
							transform: none;
							pointer-events: all;
							cursor: pointer;
							text-transform: capitalize;

							.count {
								margin-left: auto;
								padding-left: 10px;
								color: $c-light-grey;
							}
						}
						input:checked + label {
							background-color: $c-light-2;
						}

						&:hover {
							background-color: $c-light-3;
						}
					}
				}
			}
		}
	}
	button.submit-filters {
		flex-basis: 100%;
		width: 100%;
		height: 30px;
		padding: 0 10px;
		margin: 0 15px 15px 15px;
		border: 1px solid #005687;
		outline: none;
		background-color: transparent;
		font-size: 14px;
		line-height: 1.5em;
		color: $c-dark-blue;
		cursor: pointer;
		box-sizing: border-box;
	}
}
button.expand-filters {
	position: relative;
	vertical-align: middle;
	float: right;
	width: 30px;
	height: 30px;
	margin: 0 15px 0 0;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;

	.line {
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		background-color: #969696;
		transition: transform 0.25s, width 0.25s;

		&.l1 {
			width: 20px;
			transform: translate(5px, 7.5px) rotate(0deg);
			transform-origin: center;
			transition-delay: 0.1s;
		}
		&.l2 {
			width: 15px;
			transform: translate(7.5px, 12.5px) rotate(0deg);
			transform-origin: center;
		}
		&.l3 {
			width: 10px;
				transform: translate(10px, 17.5px) rotate(0deg);
				transform-origin: center;
				transition-delay: 0.1s;
		}
	}

	&.close {
		.line {
			&.l1 {
				width: 25px;
				transform: translate(2.5px, 15px) rotate(-45deg);
				transform-origin: center;
			}
			&.l2 {
				width: 0;
				transform: translate(15px, 12.5px) rotate(0deg);
			}
			&.l3 {
				width: 25px;
				transform: translate(2.5px, 15px) rotate(45deg);
				transform-origin: center;
			}
		}
	}
}