/* The following is inspired by https://www.w3schools.com/howto/howto_js_rangeslider.asp  */
.flip-90 {
  position: absolute;
  transform: rotate(90deg) translateY(25px);
}
.slidecontainer {
  /*width: 50vh; /* Width of the outside container */*/
  /*transform-origin: right;*/
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50vh; /* Full-width */
  height: 1px; /* Specified height */
  background: rgba(255,255,245,.5); /* Grey background */
  outline: none; /* Remove outline */
  opacity: .75; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(255,255,245,1);
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(255,255,245,1); /* Green background */
  cursor: pointer;
}
.slidelabels {
  height: 50vh;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slidelabels label {
  font-size: 12px;
  color: rgba(255,255,245,.5);
}